/*   */

*{
  margin: 0;
  padding: 0;
}


body{
  margin: 0;
  padding: 0;
  background: linear-gradient( #ffefba, #faaca8);
  

}
    /*  Header sction  */


.tic{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
   
}
 
.tic-header .tic li{
    display: inline-block; 
}

.tic-header .tic li a{
    text-decoration: none;
    padding: 14px 16px;
     display: block; 
    color: white;
    text-align: center;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active{
    background-color: #0e0d0d;
}
/* home section */
.div-p {
    height: 100px;
    width: 50%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}



.btn {
    background-color: #2b2929;
    font-size: 12px;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    margin: 5px ;
    cursor: pointer;
    font-weight: bold;

}



/* login section */
.inp-box{
    padding: 5px;
    margin: 5px;
    border:none;
    background: transparent;
    height: 30px;
    font-size: 16px;
    border-bottom: 1px solid rgb(26, 24, 24);
}
.log input[type=submit]{
    width: 90%;
    border:none;
    height: 25px;
    background: #ad737b;
    font-size: 14px;
    font-weight: bold;
   margin: 5px;
   font-family: serif;
   
}
.log input[type=submit]:hover{
  background-color: rgb(194, 144, 150);
  cursor: pointer;
}
.log{
    width :400px;
   height: 350px;  
   top:50%;
   left:50%;
    padding: 60px ;
    margin: 20px;
     position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border: 1px solid #000;
    box-shadow: 4px 4px 30px #000;
    
    
}
.log-h1{
font-size: 20px;
text-align: center;
font-size: 25px;
font-family:serif;

}


/* registration section */
.regist{
    width: 450px;
    height: 470px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    padding: 60px;
    margin: 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    box-shadow: 5px 5px 40px #000;
}
.regist input[type="submit"]{
width: 30%;
border:none;
height: 25px;
background: #c4adad;
font-size: 14px;
font-weight: bold;
margin: 5px;
font-family: serif;

}
.regist input[type="submit"]{
  background-color: #a8777d;
  cursor: pointer;
}
.reg{
 margin: 5px;
 padding: 3px;
 width: 80%;
 box-sizing: border-box;

}
reg-h1{
 font-size: 25px;
 font-family: serif;
 text-align: center;

}
label{
 margin: 5px;
 font-weight: bold;
 font-family: serif;
}

/* start game section */
     
.container {
 display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  position: relative;
}

.play-area {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: auto auto auto;
 
}
.block {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 3px solid black;
 
}
#box0,
#box1,
#box2 {
  border-top: none;
}

#box0,
#box3,
#box6 {
  border-left: none;
}

#box6,
#box7,
#box8 {
  border-bottom: none;
}

#box2,
#box5,
#box8 {
  border-right: none;
}

.win{
  background: green;
}
.repl{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.btn1{
background: #ad737b;
padding: 8px;
font-weight: bold;
}
.btn1:hover{
  background-color: #af8086;
  cursor: pointer;
}

.modal{
  display: none;
}
.playername{
margin: 10px;
padding: 5px;
width: 200px;
height: 100px;
float: left;
}
#namebutton{
  background: #af8e92;
  font-weight: bold;
  text-align: center;
  padding: 4px;
  margin: 3px;
}
#namebutton:hover{
  background-color: #cfa0a0;
  cursor: pointer;
}
.playername input{
  margin: 2px;
  border-radius: 3px;
}
.modal{
  display:none;
 z-index: 9999;
 position: fixed;
 top: 0;
 left: 0;
 width: 100vw;
 height: 100vh;
 background: rgba(0, 0 ,0 ,0.5);
}

.modal-content{
position: relative;
background-color: #fefefe;
margin: 30px;
padding: 15px;
border: 1px solid #888;
width: 30%;
top: 30%;
left: 30%;
transition: (-30%, -30%);
}
.modal-header{
padding: 2px;
margin: 4px;
}
.close{
color: rgb(153, 148, 148);
background: rgb(192, 4, 4);
float: right;
font-size: 20px;
font-weight: bold;
}
.modal-header h{
float: left;
margin: 8px;
padding: 3px;

}
.modal-body{
font-size: 17px;
padding: 2px;
margin: 18px;
border-bottom: 1px solid rgb(83, 83, 83);
}
.headh3{
  font-weight: bold;
  font-size: 24px;
  

}
.closee{
 padding: 2px;
margin: 18px;
}